.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  
	background-color:black;
	color:white;	
	 background-image:linear-gradient(to right, #e66465, #9198e5);/* linear-gradient(to right, red ,#8B8000,);*/ 
   
}

 th, td {
  border: 1px outset;
}

th {

}

input[type="text"]
{
    background: transparent;
    color:white;
}


h1, h2 {
  text-shadow: 1px 1px 2px pink;
}

h1 {
  font-size:2em;  
}


.resultsTable{
	margin-left:auto;
	margin-right:auto;

}
